<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>Order no. <%= @order.id %><p>
          <p>Status: <%= @order.status.capitalize %></p>
        </div>
          <table class="table">
            <thead>
              <th>Name of product</th>
              <th>Price/unit</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </thead>
            <tbody>
              <% @ordered_products.each do |ordered_item| %>
                <% @product = Product.find(ordered_item.product_id) %>
                <% @product_value = (@product.price * ordered_item.purchase_quantity) %>                
                <tr>
                  <td><%= @product.name %></td>
                  <td>S$<%= @product.price %></td>
                  <td><%= ordered_item.purchase_quantity %></td>
                  <td>S$<%= @product_value %></td>
                </tr>
              <% end %>
            </tbody>
            <tr>
              <td colspan="1"></td><td colspan="2">Grandtotal:</td><td>S$<%= @order.order_value %></td>
            </tr>              
          </table>
      </div>
      <%= link_to "Make payment", new_payments_path(order_id: @order.id), class:"btn btn-primary btn-block" %>
      <br>
      <%= link_to "Back to My Orders", my_orders_path %>
    </div>
  </div>
</div>