<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= link_to "Home", root_path %>
      <div class="panel panel-default">
        <div class="panel-heading">All Orders</div>
        <table class="table">
          <thead>
            <th>User</th>
            <th>Order no.</th>
            <th>Payment</th>
            <th>Status</th>
          </thead>
          <tbody>
            <% @orders.order(:status).reverse.each do |order| %>
              <tr>
                <td><%= link_to order.user.first_name, user_orders_path(order.user.id) %></td>
                <td><%= link_to "#{order.id}", admin_order_path(order) %></td>
                <td>S$<%= "%.2f" % order.order_value %></td>
                <td><%= order.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-6">
      <h1>
        Chart
      </h1>
      <%= column_chart @product_sales, colors: ["#e4ee6e", "#666"], xtitle: "Product", ytitle: "Purchases" %>
    </div>
  </div>
</div>
