<%= form_for [:admin, @product] do |f| %>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <td><%= f.label "age_group (years)" %></td>
      <td><%= f.select :age_group, ["1-2", "3-4", "5-7", "8-11", "12-14"] %></td>
    </tr>
    <tr>
      <td><%= f.label :country_of_origin %></td>
      <% if @product.country_of_origin == nil %>
        <td><%= f.country_select :country_of_origin, { priority_countries: ["China","Indonesia","Malaysia","Singapore","Thailand"] }, { class: 'country-select-box' } %></td>
      <% else %>
        <td><%= f.country_select :country_of_origin, { priority_countries: ["#{@product.country_of_origin}","China","Indonesia","Malaysia","Singapore","Thailand"] }, { class: 'country-select-box' } %></td>
      <% end %>
    </tr>    
    <tr>
      <td><%= f.label :category %></td>
      <td><%= f.select :category, ["role_play", "vehicles", "outdoor", "wheels", "dolls", "craft", "building", "puzzle"] %></td>
    </tr>
    <tr>
      <td><%= f.label :brand %></td>
      <td><%= f.select :brand, ["Lego", "Nintendo", "Mattel", "Hasbro", "Nerf", "MEGA Bloks", "Fisher Price", "Tiger Electronics", "Playmobil", "Kenner"] %></td>
    </tr>            
    <tr>
      <td><%= f.label :price %></td>
      <td><%= f.number_field :price %></td>
    </tr>
    <tr>
      <td><%= f.label :stock_quantity %></td>
      <td><%= f.number_field :stock_quantity %></td>
    </tr>
    <tr>
      <td><%= f.label "New image" %></td>
      <td><%= f.file_field :image_url %></td>
    </tr>

    <% @product.product_images.each_with_index do |image, index| %>
    <tr>
      <td><%= f.label "Image #{index + 1}"%></td>
      <td>
      <%= image_tag image.image_url, size: "200", class:"img-thumbnail" %>
      delete? <%= check_box_tag "selected_image_id[]", image.id %></td>
    </tr>
    <% end %>
    
    <tr>
      <td colspan="2"><%= f.submit %></td>
    </tr>
  </table>
<% end %>