<h2>Product details</h2>

<% if current_user.present? && current_user.is_admin %>
  <%= link_to "(Edit)", edit_admin_product_path(@product) %>
  <%= link_to "(Destroy)", admin_product_path, method: :delete, data:{ confirm: "Are you sure?" } %>
<% end %>
  <br>
  <ul>
    <% if @product.product_images.empty? %>
      <%= image_tag "default_product_image.jpg", size: "200", class:"img-thumbnail" %>
    <% else %>
      <div>
      <% @product.product_images.each do |image| %>
        <%= image_tag image.image_url, size: "200", class:"img-thumbnail" %>
      <% end %>
      </div>
    <% end %>
    <li>Name: <%= @product.name.capitalize %></li>
    <li>Description: <%= @product.description.capitalize %></li>
    <li>Country of origin: <%= ISO3166::Country[@product.country_of_origin].translations[I18n.locale.to_s] || country.name.capitalize %></li>
    <li>Category: <%= @product.category.capitalize %></li>
    <li>Brand: <%= @product.brand.capitalize %></li>
    <li>Age_group: <%= @product.age_group %> years old</li>
    <li>Price: $<%= @product.price %> </li>
    <li>Stock quantity: <%= @product.stock_quantity %></li>
  </ul>
