<h2>Product details</h2>
<% if current_user.is_admin %>
  <%= link_to "(Edit)", edit_admin_product_path(@product) %>
  <%= link_to "  (Destroy)", admin_product_path, method: :delete, data:{ confirm: "Are you sure?" } %>
<% end %>
  <br><br>
  <ul>
    <li>Name: <%= @product.name.capitalize %></li>
    <li>Description: <%= @product.description.capitalize %></li>
    <li>Country of origin: <%= @product.country_of_origin.capitalize %></li>
    <li>Category: <%= @product.category.capitalize %></li>
    <li>Brand: <%= @product.brand.capitalize %></li>
    <li>Age_group: <%= @product.age_group %> years old</li>
    <li>Price: $<%= @product.price %> </li>
    <li>Stock quantity: <%= @product.stock_quantity %></li>
  </ul>