<div class="container">
  <div class="row">
    <div class="col-xs-12 col-offset-1">
      <h2 id="toys_list"> Toys List </h2>
      <br>
      <% @products.each do |product| %>
        <div id="toys", class="col-xs-12 col-sm-6 col-md-4">
          <% if user_signed_in? && current_user.is_admin %>
            <%= link_to admin_product_path(product) do %>
              <% if product.product_images.empty? %>
                <%= image_tag "default_product_image.jpg", class:"product_image_index" %>
              <% else %>
                <% image = product.product_images.first %>
                <%= image_tag image.image_url, class:"product_image_index" %>
              <% end %>
            <% end %>
            <div><%= link_to product.name, admin_product_path(product.id) %></div>
          <% else %>
            <%= link_to product_path(product) do %>
              <% if product.product_images.empty? %>
                <%= image_tag "default_product_image.jpg", class:"product_image_index" %>
              <% else %>
                <% image = product.product_images.first %>
                <%= image_tag image.image_url, class:"product_image_index" %>
              <% end %>
            <% end %>
            <div><%= link_to product.name, product_path(product.id) %></div>
          <% end %>
          <li> Age_group: <%= product.age_group %> </li>
          <li> Price: $<%= product.price %> </li>
          <li> Stock quantity: <%= product.stock_quantity %> </li>
          <br><br>
        </div>
      <% end %>
    </div>
  </div>
</div>
