<!DOCTYPE html>
<html>
  <head>
    <title>BabyToysCart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to destroy_user_session_path, method: :delete do%>
    <span class='glyphicon glyphicon-log-in'></span>Log Out
    <% end %>
    <%= yield %>
  </body>
</html>
